/* Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quattrocento+Sans&family=Quicksand:wght@400;500&family=Roboto:wght@100&display=swap');


/*Nav Bar */
.navbar{
    font-family:'Quattrocento Sans', sans-serif;
    margin-left: 5px;
    font-size: x-large;

}

/* carousel */

 .carousel-item {
     width: 100%;
    height: 640px;
 }
 .carouselPicture {
     width: 100%;
     height: 640px;
 }

  /* mointains page background*/
 .backgroundBody {
    background-image: url('/images/canyonWater.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }


  /* mountain cards */
.mountain {    
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #8cbef3e7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.698);
}
.mountain-photo {
    margin: 10px;
    float:inline-start;
    width: 200px;
    length: 250px; 
}
.mountain-name {
    font-family:'Quattrocento Sans', sans-serif;
    font-size: x-large;
}
.mountain-desc {
    font-family: "Quicksand", sans-serif;
    display: block;
    font-size: large;
}
.app-title {
    color: rgb(255, 255, 255);
}
.footer {
    color: white;
}
/* Parks Page */ 


/* Parks background*/

  .parksBackgroundBody {
    background-image: url('/images/parksBackground.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }


/* Parks dropdown */
#stateDropDown {
    width: 300px;
}
#parkTypeDropDown {
    width: 300px;
}
/* park cards */
.parks {
    width: 600px;
    background-color: #b1d5fbe7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.698);
}
.location-name {
   
    box-sizing: border-box;
    font-family:'Quattrocento Sans', sans-serif;
    margin-left: 5px;
    font-size: x-large;
}
.park-address {
    font-family:'Quattrocento Sans', sans-serif;
    font-size: larger;
    margin-left: 5px;
}
.park-city {
    font-family:'Quattrocento Sans', sans-serif;
    font-size: larger;
    margin-left: 5px;
}

